body {
    background-image: url("./background.jpg");
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-template:
            "header-top" 3em
            "zip" auto
            "feelings" auto
            "entry" auto
            "button" auto /
            30em;
    color: #f0d43a;
    background-size: contain;
    background: #393f4d no-repeat center center;
    width: min-content;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    padding: 2em;
    grid-gap: 1em;
    font-size: 20px;
    border-radius: 25px;
    font-family: 'Oswald', sans-serif;
}

.holder.headline {
    grid-area: header-top;
    align-items: center;
}

.entry {
    background: rgba(59, 74, 107, .4);
}

.holder.zip {
    grid-area: zip;
}

.holder.feel {
    grid-area: feelings;
}

.holder.entry {
    grid-area: entry;
}

.title {
    text-decoration: underline;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display:block;
    font-size: 27px;
}

input {
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    grid-area: button;
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

textarea {
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;
}